.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  background-color: #F7F7F7;
}

.login_logo {
  height: 150px;
  object-fit: contain;
}

.login > Button {
  background-color: rgb(122, 126, 179);
  width: 200px;
  padding: 10px;
}

.login > Button:hover {
  background-color: black;
  color: white;
}
